@import "../abstract/variables.scss";

.navbar__buttons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 45rem;
  margin-top: 1.5rem;

}
.navbar__buttons-login {
  font-family: $fontmono;
  font-weight: 400;
  background-color: white;
  color: lightgray;
  text-decoration: none;
  border: 2px solid lightgray;
  height: 2rem;
  width: 8rem;
}
.navbar__buttons-register {
  font-family: $fontmono;
  font-weight: 400;
  background-color: $shiny;
  color: lightgray;
  text-decoration: none;
  border: 2px solid $shiny;
  height: 2rem;
  width: 8rem;
}
